<!DOCTYPE html>

<html lang="en">
<title>Stephin Thomas - Portfolio</title>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}")>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}"
    

    
  </head>
  <body>
    
       
   <div class= "box bd">
    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/mini-profile-bg-01.jpg' )}}">
      }
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <!-- Logo Area -->
            <!-- Black transparent bg -->
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                <h1 class="tm-brand-name">Mini Profile</h1>
                <p class="tm-brand-description mb-0">STEPHIN THOMAS</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <!-- Welcome Text -->
            <!-- White transparent bg -->
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">This Website was fully developed by myself and I present this as one of Projects</h2>
                <p class="pb-0">
                  <b>STEPHIN THOMAS<br>
                  stephin_thomas@protonmail.com<br>
                  stephinthomas95@gmail.com<br>
                   +91 9747858999<br></b>
                   <a href="https://www.linkedin.com/in/stephinthomas">LINKEDIN</a>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <img src="{{ url_for('static', filename='img/profile.jpg' )}}" alt="My image" width="300" height="400">
                <p class="mb-0">
                  <h3 class="tm-text-blue"><b>OBJECTIVE</b></h3>
                  Seeking a position to utilize my skills and abilities in the engineering field that offers professional growth while being resourceful and innovative. Add skills and experiences along the way
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->

    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                Engineer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  <b>Asian Engineering-Aarti Industries Limited</b>
                  <span class="tm-title-small">(2019 November to Present)</span>
                </h3>
                <p class="mb-0">
                  Plant Construction - Dichloro Benzidine Dihydrochloride<br><ul>
<li>Piping works</li><li>Equipment Erection</li><li> Metal Structural Erection</li>
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-orange">
                Site Incharge
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-orange">
                  <b>AL BUCHEERI-CHENNAI PETROLEUM CORPORATION</b>
                  <span class="tm-title-small">(2018 March to 2019 October)</span>
                </h3>
                <p class="mb-0">
              
<li>Assisting in designing of water treatment plant using membrane bioreactor technology</li>
<li>Designing dewatering equipment for food waste and animal waste</li>
<li>Mechanical treatment of oily sludge treatment plant</li>
                 </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue">
                Education
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">
                  <b>Mahatma Gandhi;University-Bachelor of Technology</b>
                  <span class="tm-title-small">(2013 to 2017 Dec)</span>
                </h3>
                <p class="mb-0">
                  Mahatma Gandhi University<br>
 KOTTAYAM,KERALA<br><br>
<h3 class="tm-text-blue"><b>Sacred Heart Public School / High School</b><br></h3>
JUNE 2010 - JUNE 2013,<br>CHANGANACHERRY,KOTTAYAM,KERALA<br>
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                Skills
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-dark-gray">
                  <b>People And Management Skills</b>
              
                    
                  
                </h3>
                <p class="mb-0">
<li>Self-confident and handling correspondence of responsible matters.</li>
<li>Self-motivated and capable of initiating new ideas and self-learning.</li>
<li>Sincere approach in duties and responsibilities.
Ability to work under pressure.</li>
<li>Willingness to use new technologies to the desired standard.</li>


                  <h3 class="tm-text-dark-gray">
                  <b>Software Skills</b>
                  </h3>
                  <p class="mb-0">
<li>Programming Languages    : C, C++, Python </li>
<li>Workflow Tools    : MS Excel, Word, Power Point.</li>
<li>Operating systems.               : Windows, Linux, Android</li>
<li>CAD softwares.                       :Solidworks,Solidedge,AutoCAD, AutoDesk  fusion 360,Autocad Advance Steel,Autodesk Plant3D</li>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio section -->

    <!-- Contact section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/mini-profile-bg-02.jpg')}}">
      <div class="container-fluid">


        <div class="row">
          <div class="col-12">
            To contact me You can use the contact information given above or directly post in my site using the form given below
            {% for message in get_flashed_messages() %}
    <div class="flash" style="color:blue";"font-family:'Courier New'";"font-size:80px">{{ message }}</div>
    {% endfor %}
            <form
              method="POST"
              id="tmContactForm"
              class="tm-bg-white-transparent"
            >
              <div class="form-group">
                <input
                  type="text"
                  id="contact_name"
                  name="contact_name"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  id="contact_email"
                  name="contact_email"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  rows="4"
                  id="contact_message"
                  name="contact_message"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn tm-btn-submit rounded-0 text-white"
                >
                  Submit
                </button>
              </div>
            </form>
            {% for post in posts %}
            <div class="posted" style="color:black"; >
              By: {{ post['username'] }} <br>
              Time: {{post['time_now']}} <br>Content :{{ post['posted'] }}</div>
              {% if not loop.last %}
              {% endif %}
              {% endfor %}
            </div>
          
        </div>
        <!-- row -->
        <div class="row">
          <footer class="col-12">
            <p class="text-center tm-copyright-text">
            Designed by Stephin Thomas Using <B>Python,Flask,Sqlite Database</B></p>
          </footer>
        </div>
      </div>
      <!-- container -->
    </div>
    <!-- section -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/parallax.min.js')}}"></script>
    <script>
      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });
    </script>
  </body>
</html>